<div class="jumbotron jumbotron-fluid" style="margin-bottom:0;padding:0">
    <div class="container-fluid" id="hero">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <ng-container *ngFor="let obj of banner; let i = index;">
                    <li data-target="#carousel" data-slide-to="{{i}}" [ngClass]="{'active': i === 0}"></li>
                </ng-container>
            </ul>
            
            <div class="carousel-inner">
                <ng-container *ngFor="let obj of banner; let i = index;">
                    <div class="carousel-item" [ngClass]="{'active': i === 0}">
                        <img [src]="obj.path" [alt]="obj.name">
                        <div class="carousel-caption">
                            <h3>{{obj.title}}</h3>
                            <p>{{obj.desc}}</p>
                        </div>
                    </div>
                </ng-container>

            </div>
            <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <ul class="navbar-nav">
        <li *ngFor="let item of menu" class="nav-item" [routerLinkActive]="['active']" >
            <a class="nav-link" [routerLink]="[item.path]">{{ item.name }}</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>© Copyright Vibrant Velachery | All Rights Reserved.</p>
</div>