<div class="container-fluid">
    <h2>Strava Activities</h2>
    <div class="card-deck">
      <div class="card">
        <img src={{athlete?.profile}} class="rounded-circle" alt="runner" width="300" height="300">
      </div>
      <div class="card">
        <dl>
          <dt>Name</dt>
          <dd>- {{ athlete?.firstname+' '+athlete?.lastname }}</dd>
          <dt>City</dt>
          <dd>- {{athlete?.city}}</dd>
          <dt>Total Ride Distance</dt>
          <dd>- {{stats?.all_ride_totals.distance / 1000}} km</dd>
          <dt>Total Run Distance</dt>
          <dd>- {{stats?.all_run_totals.distance / 1000}} km</dd>
          <dt>Total Swim Distance</dt>
          <dd>- {{stats?.all_swim_totals.distance / 1000}} km</dd>
        </dl>
      </div>
    </div>
  
    <hr />
  
    <h5>Your Daily Activities from May to October 2022</h5>
    <!-- {{activities | json}} -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th *ngFor="let column of header">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr my-active *ngFor="let row of activities; index as rowIndex">
          <td>{{rowIndex + 1}}</td>
          <td>{{row.name}}</td>
          <td>{{row.type}}</td>
          <td>{{(row.distance / 1000) | number:''}} km</td>
          <td>{{row.start_date | date:'mediumDate'}}</td>
        </tr>
      </tbody>
    </table>

    <!-- <ul class="pagination" *ngIf="numPages > 0">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item" *ngFor="let item of numPages; let i = index;">
            <a class="page-link">{{i}}</a>
        </li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul> -->
  
    <!-- <h1>Stats:</h1>
    {{stats | json}} -->
  
  </div>