<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Chennai Runners</h2>
            <!-- <h5>Photo of me:</h5>
            <div class="fakeimg">Fake Image</div> -->
            <p>VV is a part of Chennai Runners from velachery</p>
            <h3>Social Media</h3>
            <p>Our daily activities and updates.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" target="_blank" href="https://www.facebook.com/groups/vibrant.velachery/">VV-Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.strava.com/clubs/vvclub">VV-Strava</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://chennairunners.in/">Chennai Runners</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h5>Vibrant Velachery (VV)</h5>
            <p><b>Conception of group VV</b> was in July 2013, for TWCM 2013 practice with a countable number of
                running, enthusiasts. TWCM 2013 fever is down, but runners kept coming to MRTS velachery never stopped
                as it become a habit. This ideally took shape as Vibrant Velachery in Feb 2014.</p>
            <br>
            <h5>VV practice schedule</h5>
            <p>VV’s practice running, cross training with cycling and Triathletes practice swimming in SDAT</p>
            <h6>Pinned runs – on Tuesday/ Thursday/ Saturday</h6>
            <p>Assemble: 5:15 a.m. for pre-run stretches and warm-up</p>
            <p>Run: 5:30 a.m. sharp</p>
            <p>Start/end Location &ndash; Infront of&nbsp;<a title="MRTS velachery"
                    href="https://www.google.co.in/maps/dir///12.9680257,80.2174667/@12.9680244,80.2174516,20z/data=!4m2!4m1!3e0"
                    target="_blank">MRTS velachery railway station</a></p>
            <p><strong>Tuesday</strong> &ndash; Short distance Easy run distance of 6/8/10 K</p>
            <p><strong>Wednesday</strong> &ndash; Recovery day or Cross training with Cycling (Gear/Non Gear,
                MTB/Hybrid/Roadie &ndash; all fine)</p>
            <p><strong>Thursday</strong> &ndash; Flyovers repeat /St.Thomas Mount - hill running, distance 3/5/7k</p>
            <p><strong>Friday</strong> - Recovery day or Cross training with Cycling (Gear/Non Gear, MTB/Hybrid/Roadie
                &ndash; all fine)</p>
            <p><strong>Saturday</strong> - LDSR (Long distance slow running) - 8/10/15/20/25/35&hellip;. K</p>
            <p>Sunday will be an LSD</p>
            <p><strong>Monday</strong> - Rest</p>
        </div>
    </div>
</div>